:root {
  --strong-color: #1b1b1b;
  --medium-color: #212121;
  --light-color: #262626;
  --alert-color: #eeba2c;

  --text-color1: #f5f5f5;
  --text-color2: #161616;
  --text-color3: #eeba2c;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;

  font-family: 'Montserrat', sans-serif;
}
