header {
  display: flex;
  position: fixed;

  width: 100vw;
  padding: 0 2rem;

  justify-content: space-between;
  align-items: center;

  background: var(--strong-color);

  p {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color1);
    font-size: 2.4rem;
    font-weight: bold;

    span {
      color: var(--super-color);
    }
  }

  #navbar {
    width: 20rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 4rem;

      li {
        :hover {
          text-decoration: underline;
          text-decoration-color: var(--super-color);
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--text-color1);
    }
  }
}
