/* File for general styling. Still getting used to it. Trying to get things more organized with separated files. */

:root {
    --strong-color: #004369;
    --medium-color: #01949a;
    --light-color: #e5ddc8;
    --alert-color: #db1f48;

    --text-color1: lightcyan;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;

    /* Just trying new fonts. Might find a better one later. */
    font-family: "Roboto", sans-serif;
}
