/* File for general styling. Still getting used to it. Trying to get things more organized with separated files. */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;

    /* Just trying new fonts. Might find a better one later. */
    font-family: "Roboto", sans-serif;
}
