header {
  display: flex;
  position: fixed;

  width: 100vw;

  justify-content: flex-end;

  /* margin: 0.5rem; */

  box-shadow: 0 0 20px black;

  background: var(--strong-color);
}

#navbar {
  width: 25rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 4rem;
}

#navbar a {
  text-decoration: none;
  color: var(--text-color1);
}
