header {
    display: flex;
    position: sticky;
    top: 0.5rem;

    justify-content: flex-end;

    /* NOTE: I'm jsut trying new things on the navbar, these round corners will probably not make it to the end project. */
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px gray;

    background: var(--strong-color);
}

#navbar {
    width: 25rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 3rem;
}

#navbar a {
    text-decoration: none;
    color: var(--text-color1);
}
