#navbar {
    width: 25rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 3rem;
}

#navbar a {
    text-decoration: none;
    color: black;
}

/* TODO: set the navbar to be blur and to be able to see through it. */
