#navbar {
    width: 30rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 3rem;

    /* background-color: yellow; */
}

#navbar a {
    text-decoration: none;
    color: black;
}
