/* File for general styling. Still getting used to it. Trying to get things more organized with separated files. */

:root {
    /* Gotta check if I'll need  to have the scroll-behavior under "*" or if it'll work fine here on :root. */
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-end;
}
